annotated-types==0.7.0
email_validator==2.1.2
fastapi==0.115.6
fastapi-cache2==0.2.2
fastapi-users==14.0.0
firebase==4.0.1
firebase-admin==6.6.0
google-api-core==2.19.1
google-api-python-client==2.141.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
pydantic==2.10.3
pydantic_core==2.27.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.17
redis==5.2.1
requests==2.32.3
requests-cache==1.2.1
starlette==0.41.3
upstash-redis==1.2.0
urllib3==2.2.3
uvicorn==0.32.1